.menu {
  width: 200px;
  height: 200px;
  float: left;
  background-color: blue;
}
.menu ul {
  width: 100%;
  padding: 0;
  -webkit-margin-before: 0;
  -webkit-margin-left: 0;
}
.menu li {
  list-style: none;
  padding: 0;
}

.HelloContent {
  width: 100%;
  height: 50px;
  display: none;
  background-color: red;
}

.HiContent {
  width: 100%;
  height: 50px;
  display: none;
  background-color: yellow;
}

.HolaContent {
  width: 100%;
  height: 50px;
  display: none;
  background-color: pink;
}
